@import "palette";

.noteContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  background-color: $default-primary-color;

  &_row {
    flex-direction: row;
  }

  &_padding {
    padding: 8px;
  }

  &__date {
    color: $light-primary-color;
    margin-top: 24px;
    margin-bottom: 24px;
    align-self: center;
    font-size: 18px;
    font-weight: bold;
  }
}

.note_placeholder {
  display: flex;
  border: 1px dashed $light-primary-color;
  border-radius: 5px;
  justify-content: center;
  height: 40em;
  align-items: center;
  margin: 64px;

  &__message {
    color: $light-primary-color;
    font-size: 32px;
    font-family: 'Yellowtail', sans-serif;
  }
}